/*phone */
@media only screen and (max-width: 670px){
  .header-right {
    display: none;
  }
  
  .menu-icon{
    display: block
  }

 /* Steps to Get Vaccinated */
  .steps-container{
    flex-wrap: wrap;
    justify-content: center;
  }

  .step{
    min-width: 300px;
  }
  .step-icon img{
    padding-top: 20px;
  }

/* Question */
    .forum{
        min-height: 900px;
    }


    
    .forum-field p:first-child{
        margin-top: 30px;
    }

    .icon{
        float: none;
        width: 100%;
    }
    
    .forum-field{
        float: none;
        width: 100%;
        justify-content: center;
    }
  
    input, textarea{
        width: 100%;
        font-size: 14px;
    }

    .icon img{
        height: 220px;
    }


/* footer */
  footer .container{
    flex-direction: column;
    align-items: flex-start;
  }

  footer li{
    list-style: none;
    display: block;
    padding: 10px 10px 10px 0px;
  }

  .media li{
    display: inline-block;
  }
}

/*tablet */
@media only screen and (max-width: 1000px){
  .top-wrapper{
    padding: 100px 20px 60px 20px;
    height: 500px;
  }

  .top-wrapper-right{
    width: 100%;
  } 

  .txt-covid p{
    width: 70%;
  }

 /* Steps to Get Vaccinated */
  .steps-container{
    flex-wrap: wrap;
    justify-content: center;
  }

  .step-icon img{
    width: 60%;
  }

  .step{
    width:35%;
  }
  
/* Question */
  .icon img{
    height: 250px;
    margin-left: auto;
  }


/* footer */



}
